In [2]:
# 기본 패키지 불러오기 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
plt.style.use("seaborn")
sns.set(font_scale=1)
sns.set_style("whitegrid")

In [3]:
newyork_lists = pd.read_csv('./Data/Newyork/listings.csv')
newyork_lists_summary = pd.read_csv('./Data/Newyork/listings_summary.csv')
newyork_neighbourhoods = pd.read_csv('./Data/Newyork/neighbourhoods.csv')
newyork_reviews = pd.read_csv('./Data/Newyork/reviews.csv')
newyork_reviews_summary = pd.read_csv('./Data/Newyork/reviews_summary.csv')

In [4]:
newyork_lists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38377 entries, 0 to 38376
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            38377 non-null  int64
 1   listing_url                                   38377 non-null  object
 2   scrape_id                                     38377 non-null  int64
 3   last_scraped                                  38377 non-null  object
 4   source                                        38377 non-null  object
 5   name                                          38375 non-null  object
 6   description                                   37339 non-null  object
 7   neighborhood_overview                         21705 non-null  object
 8   picture_url                                   38377 non-null  object
 9   host_id                                       38377 non-null  int64
 10  host_url                                      38377 non-null  object
 11  host_name                                     38372 non-null  object
 12  host_since                                    38372 non-null  object
 13  host_location                                 30140 non-null  object
 14  host_about                                    21464 non-null  object
 15  host_response_time                            21955 non-null  object
 16  host_response_rate                            21955 non-null  object
 17  host_acceptance_rate                          25899 non-null  object
 18  host_is_superhost                             38209 non-null  object
 19  host_thumbnail_url                            38372 non-null  object
 20  host_picture_url                              38372 non-null  object
 21  host_neighbourhood                            30621 non-null  object
 22  host_listings_count                           38372 non-null  float64
 23  host_total_listings_count                     38372 non-null  float64
 24  host_verifications                            38377 non-null  object
 25  host_has_profile_pic                          38372 non-null  object
 26  host_identity_verified                        38372 non-null  object
 27  neighbourhood                                 21706 non-null  object
 28  neighbourhood_cleansed                        38377 non-null  object
 29  neighbourhood_group_cleansed                  38377 non-null  object
 30  latitude                                      38377 non-null  float64
 31  longitude                                     38377 non-null  float64
 32  property_type                                 38377 non-null  object
 33  room_type                                     38377 non-null  object
 34  accommodates                                  38377 non-null  int64
 35  bathrooms                                     23756 non-null  float64
 36  bathrooms_text                                38346 non-null  object
 37  bedrooms                                      32595 non-null  float64
 38  beds                                          23616 non-null  float64
 39  amenities                                     38377 non-null  object
 40  price                                         23761 non-null  object
 41  minimum_nights                                38377 non-null  int64
 42  maximum_nights                                38377 non-null  int64
 43  minimum_minimum_nights                        38377 non-null  int64
 44  maximum_minimum_nights                        38377 non-null  int64
 45  minimum_maximum_nights                        38377 non-null  int64
 46  maximum_maximum_nights                        38377 non-null  int64
 47  minimum_nights_avg_ntm                        38377 non-null  float64
 48  maximum_nights_avg_ntm                        38377 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              32960 non-null  object
 51  availability_30                               38377 non-null  int64
 52  availability_60                               38377 non-null  int64
 53  availability_90                               38377 non-null  int64
 54  availability_365                              38377 non-null  int64
 55  calendar_last_scraped                         38377 non-null  object
 56  number_of_reviews                             38377 non-null  int64
 57  number_of_reviews_ltm                         38377 non-null  int64
 58  number_of_reviews_l30d                        38377 non-null  int64
 59  first_review                                  26766 non-null  object
 60  last_review                                   26766 non-null  object
 61  review_scores_rating                          26767 non-null  float64
 62  review_scores_accuracy                        26741 non-null  float64
 63  review_scores_cleanliness                     26751 non-null  float64
 64  review_scores_checkin                         26737 non-null  float64
 65  review_scores_communication                   26746 non-null  float64
 66  review_scores_location                        26735 non-null  float64
 67  review_scores_value                           26735 non-null  float64
 68  license                                       5063 non-null   object
 69  instant_bookable                              38377 non-null  object
 70  calculated_host_listings_count                38377 non-null  int64
 71  calculated_host_listings_count_entire_homes   38377 non-null  int64
 72  calculated_host_listings_count_private_rooms  38377 non-null  int64
 73  calculated_host_listings_count_shared_rooms   38377 non-null  int64
 74  reviews_per_month                             26766 non-null  float64
dtypes: float64(18), int64(21), object(36)
memory usage: 22.0+ MB

In [5]:
newyork_lists

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,30314819,https://www.airbnb.com/rooms/30314819,20240406173624,2024-04-07,previous scrape,Brooklyn Finest Air Bnb,THE GUEST'S WILL HAVE ACCESS TO LOTS OF RESTAU...,NaN,https://a0.muscache.com/pictures/1ababa1b-a7d1...,224699779,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
1,30391955,https://www.airbnb.com/rooms/30391955,20240406173624,2024-04-07,previous scrape,Queens Comfort,Quiet neighborhood with plenty of on street pa...,10 min walk to Sutphin Av Archer Av Station wh...,https://a0.muscache.com/pictures/8d63479f-f4b6...,228213504,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
2,30378211,https://www.airbnb.com/rooms/30378211,20240406173624,2024-04-07,previous scrape,Shared Studio (females only),Bunk bed is shared with 1 other roommate (fema...,NaN,https://a0.muscache.com/pictures/500a4692-45da...,200401254,...,NaN,NaN,NaN,NaN,f,1,0,0,1,NaN
3,30459160,https://www.airbnb.com/rooms/30459160,20240406173624,2024-04-07,previous scrape,Large 2 Bedroom Apt - Close to everything!,Welcome to my massive two bedroom apt in eleva...,NaN,https://a0.muscache.com/pictures/a28e27f9-2360...,84147508,...,5.00,5.00,5.00,NaN,f,1,1,0,0,0.02
4,30746536,https://www.airbnb.com/rooms/30746536,20240406173624,2024-04-07,previous scrape,Stylish Single Room in Hell’s Kitchen,NaN,NaN,https://a0.muscache.com/pictures/6879386e-5133...,20416352,...,5.00,5.00,3.00,NaN,f,1,0,1,0,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38372,27015594,https://www.airbnb.com/rooms/27015594,20240406173624,2024-04-07,city scrape,"Premium Studio w/Wetbar, Central Park",Please note: layouts may differ.<br /><br /> 3...,Stay in the heart of Manhattan at AKA Central ...,https://a0.muscache.com/pictures/miso/Hosting-...,176950173,...,4.85,4.77,4.54,Exempt,t,16,10,6,0,0.35
38373,276021,https://www.airbnb.com/rooms/276021,20240406173624,2024-04-07,city scrape,Entire Luxury 2br/2ba in Prime Williamsburg!,Spacious and gorgeous luxury doorman 2br / 2ba...,NaN,https://a0.muscache.com/pictures/10ec711a-c2be...,1442346,...,5.00,5.00,4.00,NaN,f,1,1,0,0,0.01
38374,729637842867055103,https://www.airbnb.com/rooms/729637842867055103,20240406173624,2024-04-07,city scrape,near central park apartment.,Keep it simple in this peaceful and centrally ...,"you are just 2 blocks away from central park, ...",https://a0.muscache.com/pictures/d3d49233-33aa...,233986637,...,4.90,4.60,5.00,NaN,f,1,0,1,0,0.63
38375,1327940,https://www.airbnb.com/rooms/1327940,20240406173624,2024-04-07,city scrape,Huge Gorgeous Park View Apartment!,"Beautiful, huge and homey apt- Sleeps 4 comfor...",The apartment is on the border of Lefferts Gar...,https://a0.muscache.com/pictures/20004852/b611...,3290436,...,4.77,4.69,4.31,NaN,f,1,1,0,0,0.12
38376,51100458,https://www.airbnb.com/rooms/51100458,20240406173624,2024-04-07,city scrape,Luxe Brooklyn Studio_Clinton Hill,"Welcome to Clinton Hill, Brooklyn—a vibrant ne...",NaN,https://a0.muscache.com/pictures/7d5f9d16-6f99...,37046945,...,4.66,4.78,4.72,NaN,t,5,5,0,0,0.97

In [6]:
newyork_lists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38377 entries, 0 to 38376
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            38377 non-null  int64
 1   listing_url                                   38377 non-null  object
 2   scrape_id                                     38377 non-null  int64
 3   last_scraped                                  38377 non-null  object
 4   source                                        38377 non-null  object
 5   name                                          38375 non-null  object
 6   description                                   37339 non-null  object
 7   neighborhood_overview                         21705 non-null  object
 8   picture_url                                   38377 non-null  object
 9   host_id                                       38377 non-null  int64
 10  host_url                                      38377 non-null  object
 11  host_name                                     38372 non-null  object
 12  host_since                                    38372 non-null  object
 13  host_location                                 30140 non-null  object
 14  host_about                                    21464 non-null  object
 15  host_response_time                            21955 non-null  object
 16  host_response_rate                            21955 non-null  object
 17  host_acceptance_rate                          25899 non-null  object
 18  host_is_superhost                             38209 non-null  object
 19  host_thumbnail_url                            38372 non-null  object
 20  host_picture_url                              38372 non-null  object
 21  host_neighbourhood                            30621 non-null  object
 22  host_listings_count                           38372 non-null  float64
 23  host_total_listings_count                     38372 non-null  float64
 24  host_verifications                            38377 non-null  object
 25  host_has_profile_pic                          38372 non-null  object
 26  host_identity_verified                        38372 non-null  object
 27  neighbourhood                                 21706 non-null  object
 28  neighbourhood_cleansed                        38377 non-null  object
 29  neighbourhood_group_cleansed                  38377 non-null  object
 30  latitude                                      38377 non-null  float64
 31  longitude                                     38377 non-null  float64
 32  property_type                                 38377 non-null  object
 33  room_type                                     38377 non-null  object
 34  accommodates                                  38377 non-null  int64
 35  bathrooms                                     23756 non-null  float64
 36  bathrooms_text                                38346 non-null  object
 37  bedrooms                                      32595 non-null  float64
 38  beds                                          23616 non-null  float64
 39  amenities                                     38377 non-null  object
 40  price                                         23761 non-null  object
 41  minimum_nights                                38377 non-null  int64
 42  maximum_nights                                38377 non-null  int64
 43  minimum_minimum_nights                        38377 non-null  int64
 44  maximum_minimum_nights                        38377 non-null  int64
 45  minimum_maximum_nights                        38377 non-null  int64
 46  maximum_maximum_nights                        38377 non-null  int64
 47  minimum_nights_avg_ntm                        38377 non-null  float64
 48  maximum_nights_avg_ntm                        38377 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              32960 non-null  object
 51  availability_30                               38377 non-null  int64
 52  availability_60                               38377 non-null  int64
 53  availability_90                               38377 non-null  int64
 54  availability_365                              38377 non-null  int64
 55  calendar_last_scraped                         38377 non-null  object
 56  number_of_reviews                             38377 non-null  int64
 57  number_of_reviews_ltm                         38377 non-null  int64
 58  number_of_reviews_l30d                        38377 non-null  int64
 59  first_review                                  26766 non-null  object
 60  last_review                                   26766 non-null  object
 61  review_scores_rating                          26767 non-null  float64
 62  review_scores_accuracy                        26741 non-null  float64
 63  review_scores_cleanliness                     26751 non-null  float64
 64  review_scores_checkin                         26737 non-null  float64
 65  review_scores_communication                   26746 non-null  float64
 66  review_scores_location                        26735 non-null  float64
 67  review_scores_value                           26735 non-null  float64
 68  license                                       5063 non-null   object
 69  instant_bookable                              38377 non-null  object
 70  calculated_host_listings_count                38377 non-null  int64
 71  calculated_host_listings_count_entire_homes   38377 non-null  int64
 72  calculated_host_listings_count_private_rooms  38377 non-null  int64
 73  calculated_host_listings_count_shared_rooms   38377 non-null  int64
 74  reviews_per_month                             26766 non-null  float64
dtypes: float64(18), int64(21), object(36)
memory usage: 22.0+ MB

In [7]:
newyork_lists.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [11]:
newyork_reviews.head(30)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,5121,3271,2009-05-28,2995,Misha,"Simple place, super nice guy."
1,5121,5018,2009-07-04,23868,Yevgeniy,Great guy with a basic room. Clean sheets and ...
2,5121,15342,2009-10-27,39813,Gisela,Garon gave me the opportunity to share some of...
3,5121,17869,2009-11-21,52256,Shri,garon is a sweet person with a lot of knowledg...
4,5121,20382,2009-12-14,62040,Kristen,Garon - your home was very cozy and comfortabl...
5,5121,21588,2009-12-28,53299,Dorine,We had a lovely stay at Garon's although he wa...
6,5121,25622,2010-02-07,68126,Anne,"was my first time with airbnb, I enjoy the sta..."
7,5121,27570,2010-02-25,81438,Sean,Garon is a really great guy. I can't recommend...
8,5121,31806,2010-03-28,83361,Franziska,I can definately recommend Garon's place. he's...
9,5121,52894,2010-06-14,93061,James,Where do I start with Garon? We stayed with h...
10,5121,66432,2010-07-19,138152,Maartje,"Garon is a very warm and friendly guy, willing..."
11,5121,69098,2010-07-25,146471,Charlotte,"Garon was very open and helpful, we felt very ..."
12,5121,69984,2010-07-27,175725,Emily,Garon was like an angel! He got back to us qui...
13,5121,72313,2010-08-01,178070,Erica,We had a great time here! Garon was extremely...
14,5121,87887,2010-08-31,181782,Amie,Many thanks to Garon for a wonderful stay. He ...
15,5121,96645,2010-09-14,26218,Sarah,WELLL... Firstly Garon is a gemmm... Full of s...
16,5121,176862,2011-01-31,350747,Lacey,"Wonderfully, nice guy and a great host! This i..."
17,5121,215103,2011-04-02,406850,Miriam,I stayed at Garons for almost three months and...
18,5121,230340,2011-04-18,466719,Iris,"Garon is very sweet, relaxed and laid back. I ..."
19,5121,368835,2011-07-12,693011,Estelle,Garon was a very nice host and he let us feel ...
20,5121,402963,2011-07-28,809854,Jiyeon,i really enjoyed NY. Garon was so welcoming an...
21,5121,522601,2011-09-12,599217,Mara,Garon is the best. Period.
22,5121,703737,2011-11-08,1303360,Lukasz,Everything was perfectly fine! Me and my frien...
23,5121,1222514,2012-05-03,2046833,Rob,Thanks Garon! - I stayed for just over 2 weeks...
24,5121,2487328,2012-10-02,3495996,Blas,Garon is great! He s a really nice and interes...
25,5121,2762985,2012-10-30,3588281,Aleesha,"I had the most beautiful stay, \r<br/>Garon is..."
26,5121,3423063,2013-01-27,2556663,Tim,It was so nice staying at Garon's! For the fir...
27,5121,3660569,2013-03-01,4729917,Kevin,Garon is one of the coolest individuals I've m...
28,5121,4038248,2013-04-04,1387678,Celina,Garon is undoubtedly the most welcoming and ni...
29,5121,5529489,2013-07-04,1523322,Traci,Had a great stay with Garon! You'll have a sup...

In [9]:
newyork_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 972072 entries, 0 to 972071
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     972072 non-null  int64
 1   id             972072 non-null  int64
 2   date           972072 non-null  object
 3   reviewer_id    972072 non-null  int64
 4   reviewer_name  972069 non-null  object
 5   comments       971857 non-null  object
dtypes: int64(3), object(3)
memory usage: 44.5+ MB

In [10]:
newyork_reviews.columns

Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [14]:
newyork_reviews_summary.head(30)

    listing_id        date
0         5121  2009-05-28
1         5121  2009-07-04
2         5121  2009-10-27
3         5121  2009-11-21
4         5121  2009-12-14
5         5121  2009-12-28
6         5121  2010-02-07
7         5121  2010-02-25
8         5121  2010-03-28
9         5121  2010-06-14
10        5121  2010-07-19
11        5121  2010-07-25
12        5121  2010-07-27
13        5121  2010-08-01
14        5121  2010-08-31
15        5121  2010-09-14
16        5121  2011-01-31
17        5121  2011-04-02
18        5121  2011-04-18
19        5121  2011-07-12
20        5121  2011-07-28
21        5121  2011-09-12
22        5121  2011-11-08
23        5121  2012-05-03
24        5121  2012-10-02
25        5121  2012-10-30
26        5121  2013-01-27
27        5121  2013-03-01
28        5121  2013-04-04
29        5121  2013-07-04

In [15]:
newyork_reviews_summary.tail(30)

                 listing_id        date
972042  1111844262039900464  2024-03-25
972043  1111844262039900464  2024-03-26
972044  1111844262039900464  2024-03-31
972045  1112023546762857225  2024-04-05
972046  1113809879045581456  2024-03-25
972047  1113809879045581456  2024-04-02
972048  1114605506625468030  2024-03-24
972049  1115294849933964740  2024-03-29
972050  1115377466525054553  2024-03-25
972051  1115377466525054553  2024-03-28
972052  1115380808111478492  2024-03-24
972053  1115380808111478492  2024-03-24
972054  1115380808111478492  2024-03-24
972055  1115380808111478492  2024-03-31
972056  1115380808111478492  2024-04-01
972057  1115380808111478492  2024-04-02
972058  1116555653879118965  2024-03-23
972059  1116894896977374505  2024-03-24
972060  1116894896977374505  2024-03-31
972061  1116894896977374505  2024-04-01
972062  1116894896977374505  2024-04-02
972063  1116894896977374505  2024-04-03
972064  1116894896977374505  2024-04-05
972065  1117582463006556770  2024-04-04
972066  1118148174507368445  2024-03-27
972067  1118148174507368445  2024-03-29
972068  1118148174507368445  2024-04-04
972069  1120267212254262726  2024-03-28
972070  1120267212254262726  2024-03-31
972071  1126177454614590742  2024-04-05

In [16]:
newyork_reviews_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 972072 entries, 0 to 972071
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  972072 non-null  int64
 1   date        972072 non-null  object
dtypes: int64(1), object(1)
memory usage: 14.8+ MB